<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  <script src="js/datamap.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="app" ng-controller="myCtrl">
  <div id="wrapper">
    <div id="mapWrapper">

    </div>
    <div id="map">
    <div class="config">
      <div class="indicators panel active-panel" ng-controller="indicatorService">
        <h1>Choose An Indicator</h1>
        <input class="indicatorSearch" type="text" ng-model="searchText" onkeydown="listener()" placeholder="Search"></input>
        <div class="allIndicators">
          <div class="indicatorValue" ng-repeat="indicator in indicators | filter:searchText">{{indicator.i}}</div>
        </div>
      </div>
      <div class="countries panel">
        <h1>Select Countries</h1>
        <div class="allCountries">
          <div ng-repeat="country in countries" class="countryWrapper">{{country.Country}}</div>
        </div>
      </div>
      <div class="ageGroup panel">
        <h1>Select Age Groups</h1>
        <div class="allCountries">
          <div class="ageGroupWrapper">15-19</div>
          <div class="ageGroupWrapper">20-29</div>
          <div class="ageGroupWrapper">30-39</div>
          <div class="ageGroupWrapper">40-49</div>
        </div>
      </div>
      <div class="panel">
        <div id="chartID"></div>
      </div>
      <div class="goBack">&#8592; Back</div>
      <div class="confirmInput" ng-click="next()">Select</div>
    </div>
  </div>
  <script src="js/main.js"></script>
</body>
</html>
