<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
  <script src="js/datamap.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="js/main.js"></script>
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="app" ng-controller="myCtrl">
  <div id="wrapper">
    <div id="mapWrapper">

    </div>
    <div id="map">
    <div class="config">
      <div class="indicators panel active-panel">
        <h1>Choose An Indicator</h1>
        <input class="indicatorSearch" type="text" ng-model="searchText" onkeydown="listener()" placeholder="Search"></input>
        <div class="allIndicators">
          <div class="indicatorValue" ng-repeat="indicator in mockIndicators | filter:searchText">{{indicator.name}}</div>
        </div>
      </div>
      <div class="countries panel">
        <h1>Selecty Countries</h1>
        <div class="allCountries">
          <div ng-repeat="country in mockCountries" class="countryWrapper"><input type="checkbox" name="countries" class="countryValue" value="{{country.name}}"></input><span class="country">{{country.name}}</span></div>
        </div>
      </div>
      <div class="ageGroup panel">

      </div>
      <div class="goBack">&#8592; Back</div>
      <div class="confirmInput">Select</div>
    </div>
  </div>
  <script src="js/map.js"></script>
</body>
</html>
