@media screen and (max-width: 680px) {

  .logo{
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/Equal_Measures_Logo.png');
    width: 223px;
    height: 110px;
    background-size: cover;
  }

  .config{
    z-index: 999999;
    position: absolute;
    top: 2.5%;
    right: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: .5em;
    height: 93%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .375s;
    overflow: hidden;
  }

  .config h1{
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
    margin-bottom: 25px;
  }

  #map {
    display: none;
  }

  .allIndicators{
    min-height: 100% ;
    overflow-y: scroll;
  }

  .indicatorValue{
    width: 95%;
    margin-left: 2.5%;
    height: auto;
    border-radius: .3em;
    margin-top: 30%;
    line-height: 10%;
    padding-left: 10%;
    box-sizing: border-box;
    color: white;
    background-color: rgb(7, 80, 155);
    cursor: pointer;
    font-family: Roboto;
    font-weight: 300;
    padding-top: 10%;
    padding-bottom: 10%;
    transition: .2s;
  }
  .selectedIndicator{
    background-color: rgb(23,33,56);
  }
  .indicatorSearch{
    width: 95%;
    height: 15%;
    margin-left: 2.5%;
    padding-left: 10%;
    font-size: 1em;
    font-family: Roboto;
    font-weight: 300;
    box-sizing: border-box;
    border: 1px solid blue;
    margin-bottom: 10%;
  }
  .confirmInput{
    z-index: 9999999;
    position: absolute;
    bottom: 10%;
    right: 0px;
    width: 90%;
    margin-right: 2.5%;
    height: 15%;
    text-align: center;
    color: white;
    font-family: Roboto;
    font-size: 1em;
    background-color: black;
    margin-top: 5%;
    line-height: 15%;
  }
  .goBack{
    z-index: 9999999;
    position: absolute;
    left: 4%;
    bottom: 2.5%;
    color: black;
    font-family: Roboto;
    cursor: pointer;
    width: ;
  }
  .panel{
    position: absolute;
    overflow: hidden;
    width: 100%;
  }
}
